<a href="https://colab.research.google.com/github/JuliustheCreator/youtube-visualization/blob/main/main/youtube_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Reading in Data
url = 'https://raw.githubusercontent.com/JuliustheCreator/youtube-visualization/main/topSubscribed.csv'
df = pd.read_csv(url)

#Cleaning Data
data = df.dropna()

for col in ["Subscribers", "Video Views", "Video Count"]: #Removing the commas in each str
  df[col] = df[col].str.replace(",", "")

for col in ["Video Count"]: #Casting video count to int and dividing by 1000
  df[col] = df[col].astype(int)
  df[col] = df[col] / 1000

for col in ["Subscribers", "Video Views"]: #Casting each element to integer then dividing by a million when needed
  df[col] = df[col].astype(int)
  df[col] = df[col] / 1000000
df.head(10)

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
0,1,T-Series,234.0,212900.271553,18.515,Music,2006
1,2,YouTube Movies,161.0,0.000000,0.000,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,152.0,149084.178448,0.846,Education,2006
3,4,SET India,150.0,137828.094104,103.200,Shows,2006
4,5,MrBeast,128.0,21549.128785,0.733,Entertainment,2012
5,6,Music,118.0,0.000000,0.000,https://us.youtubers.me/global/all/top-1000-mo...,2013
6,7,PewDiePie,111.0,28851.883250,4.694,Gaming,2010
7,8,✿ Kids Diana Show,106.0,86638.570921,1.056,People & Blogs,2015
8,9,Like Nastya,104.0,87202.935675,0.754,People & Blogs,2016
9,10,Gaming,93.3,0.000000,0.000,https://us.youtubers.me/global/all/top-1000-mo...,2013

Statistics:

In [ ]:
#Number of Subscribers
meanSubs = df["Subscribers"].mean()
medianSubs = df["Subscribers"].median()
varianceSubs = df["Subscribers"].var()
stdSubs = df["Subscribers"].std()
print("The average amount of subscribers (in millions) is: ", meanSubs)
print("The median amount of subscribers (in millions) is: ", medianSubs)
print("The variance of subscribers (in millions) is: ", varianceSubs)
print("The standard deviation of subscribers (in millions) is: ", stdSubs, "\n")

#Video Views
meanViews = df["Video Views"].mean()
medianViews = df["Video Views"].median()
varianceViews = df["Video Views"].var()
stdViews = df["Video Views"].std()
print("The average amount of video views (in millions) is: ", meanViews)
print("The median amount of video views (in millions) is: ", medianViews)
print("The variance of video views (in millions) is: ", varianceViews)
print("The standard deviation of video views (in millions) is: ", stdViews, "\n")

#Video Count
meanVidCount = df["Video Count"].mean()
medianVidCount = df["Video Count"].median()
varianceVidCount = df["Video Count"].var()
stdVidCount = df["Video Count"].std()
print("The average amount of video count (in thousands) is: ", meanVidCount)
print("The median amount of video count (in thousands) is: ", medianVidCount)
print("The variance of video count (in thousands) is: ", varianceVidCount)
print("The standard deviation of video count (in thousands) is: ", stdVidCount, "\n")

The average amount of subscribers (in millions) is:  21.581400000000002
The median amount of subscribers (in millions) is:  16.6
The variance of subscribers (in millions) is:  276.4093634034034
The standard deviation of subscribers (in millions) is:  16.625563551453027

The average amount of video views (in millions) is:  9994.912409733999
The median amount of video views (in millions) is:  6723.360159
The variance of video views (in millions) is:  169141923.65293387
The standard deviation of video views (in millions) is:  13005.457456503937

The average amount of video count (in thousands) is:  9.416228
The median amount of video count (in thousands) is:  0.896
The variance of video count (in thousands) is:  1036.2546295856018
The standard deviation of video count (in thousands) is:  32.190909113996796

This is a bar chart of the views for each genre:

SyntaxError: ignored

This is a scatterplot of the views (y) plotted against the age (x):

This is a line graph of the rank (y) plotted against views (x):

This is a pie graph of the views for each category against total views on the site:

Regression Model: